<!-- <h1 class="mb-4 mt-3">Projects</h1>
<div class="row mt-4">
    <div class="col-4 text-center">
        <h2>Angular</h2>
    </div>
    <div class="col-4 text-center">
        <h2>React</h2>
    </div>
    <div class="col-4 text-center">
        <h2>Alogorithm & Data Structure</h2>
    </div>
</div> -->
<div class="row">
    <div class="col-2"></div>
    <div class="col-5"><h2>Skills</h2></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-1">
     <div>javascript</div>
     <div>typescript</div>
     <div>angular</div>
     <div>html/scss</div>

    </div>
    <div class="col-2">
        <div class="javascriptPercent "></div>
        <div class="typescriptPercent "></div>
        <div class="angularPercent "></div>
        <div class="htmlPercent "></div>
   
       </div>
</div>


