.javascriptPercent{
    width: 70%;
   // background-color: purple;
    border: 7px solid purple;
    margin-top: 7px;
    
}
.typescriptPercent{
    width: 50%;
    background-color: purple;
    border: 7px solid purple;
    margin-top: 10px;
}
.angularPercent {
    width: 80%;
    background-color: purple;
    border: 7px solid purple;
    margin-top: 10px;
}
.htmlPercent{
    width: 90%;
    background-color: purple;
    border: 7px solid purple;
    margin-top: 10px;
}    