.headerBtnPosition {
    margin-left: 34%;
}
.headBtntab {
    border: none;
    background-color: transparent;
    font-size: 25px;
    font-family: fantasy;
    box-shadow: none;
    outline: none;
}
.headBtntab:hover {
    background-color: beige;
    border-radius: 5px;
}