<!-- <div class="headerBtnPosition mt-4">
    <button  (click) = 'route(1)' class="headBtntab">Home</button>
    <button (click) = 'route(2)'  class="headBtntab">Projects</button>
    <button (click) = 'route(3)' class="headBtntab">Blogs</button>
    <button (click) = 'route(4)' class="headBtntab">Contact</button>
</div>


<app-home *ngIf = 'showHome'></app-home>
<app-contact *ngIf = 'showContact'></app-contact>
<app-blogs *ngIf ='showBlogs'></app-blogs>
<app-projects *ngIf ='showProjects'></app-projects> -->

<div class="row bgColor">
        <img class="profileImg" src="https://suyesh68.github.io/portfolio/src/assets/background.jpg">
        <div class="socialMedia">
            <a href="https://www.linkedin.com/in/suyesh-p-sharma-ba0aa5113/"><img class="iconStyle mr-2" src="../../assets/linkedIn-icon.jpg"></a>
            <a href="https://github.com/suyesh68"><img class="iconStyle mr-2" src="../../assets/git-icon.png"></a>
            <a href="https://github.com/suyesh68"><img class="iconStyle mr-2" src="../../assets/twitter-icon.png"></a>
            <a href="https://www.instagram.com/_s_u_y_e_s_h_/"><img class="iconStyle mr-2" src="../../assets/insta-icon.png"></a>
        </div>
        <div class="textOverImg">
           <div class="name">SUYESH SHARMA</div>
           <div class="tagLine">FULL STACK ENGINEER</div> 
           <div class="introContent mt-3"> A professional with 2 years of experience in the field of web Application
               development. Bringing forth expertise in management and problem solving, ability to 
               work across global cross-office teams. A strong team player with emphasis on providing
                quality & detail work in timely manner with minimal supervision.
                 </div>
        </div>
</div> 
<app-projects></app-projects>

