.contentPosition {
    margin-top: 200px;
}
.basicText{
    color: rgb(47, 6, 100);
}
.HeighlightText {
    color: rgb(184, 62, 62);
}
.background-img {
    background-image:"../src/assets/background-Img.jpg";
    display: block;
}